@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EmployeeAttendanceSystem.Models.Employee

<h2>Edit Employee</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.EmployeeId)

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Position)
        @Html.TextBoxFor(m => m.Position, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Department)
        @Html.TextBoxFor(m => m.Department, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
